.ant-layout {
  height: 100%;
}

.header {
  padding: 0;
  background-color: #001529 !important;
}

.logo {
  width: 360px;
  height: 60px;
  background: url('~@/assets/image.png') no-repeat center / 350px auto;
}

.layout-content {
  overflow-y: auto;
}

.user-info {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 20px;
  color: #fff;

  .user-name {
    margin-right: 20px;
  }

  .user-logout {
    display: inline-block;
    cursor: pointer;
  }
}

.ant-layout-header {
  padding: 0 !important;
}

